Package: com.brycedev.nella
Name: Nella
Depends: mobilesubstrate, firmware (>= 7.0), cydia (>= 1.1.19)
Version: 1.1.2
Architecture: iphoneos-arm
Description: Nella allows you to customize the Cydia interface. It has been initially created as a proof of concept for modifying the Cydia progress view. There are currently only a few options to configure in settings.
Maintainer: Bryce Jackson
Author: Bryce Jackson
Section: Tweaks
