Package: com.brycedev.nella
Name: Nella
Depends: mobilesubstrate, firmware (>= 7.0), cydia (>= 1.1.19)
Version: 2.0
Architecture: iphoneos-arm
Description: Nella adds additional features for configuring the Cydia installation screen.
Maintainer: Bryce Jackson
Author: Bryce Jackson
Section: Tweaks
