<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key><string>PSGroupCell</string>
			<key>label</key><string>Background Image</string>
            <key>footerText</key><string>Use an image from a URL as the background.</string>
		</dict>
		<dict>
			<key>cell</key><string>PSSwitchCell</string>
			<key>default</key><false/>
			<key>defaults</key><string>com.brycedev.nella</string>
			<key>key</key><string>kBGURLIsEnabled</string>
			<key>label</key><string>Enabled</string>
			<key>PostNotification</key><string>com.brycedev.nella/prefschanged</string>
		</dict>
        <dict>
            <key>cell</key><string>PSEditTextCell</string>
            <key>placeholder</key><string>i.imgur.com/230jg20.png</string>
            <key>defaults</key><string>com.brycedev.nella</string>
            <key>isDecimalPad</key><false/>
            <key>key</key><string>kBGURL</string>
            <key>label</key><string>URL:</string>
            <key>PostNotification</key><string>com.brycedev.nella/prefschanged</string>
        </dict>

        <dict>
			<key>cell</key><string>PSGroupCell</string>
			<key>label</key><string>Background Color</string>
            <key>footerText</key><string>Use a solid color as the background.</string>
		</dict>
		<dict>
			<key>cell</key><string>PSSwitchCell</string>
			<key>default</key><true/>
			<key>defaults</key><string>com.brycedev.nella</string>
			<key>key</key><string>kBGColorEnabled</string>
			<key>label</key><string>Enabled</string>
			<key>PostNotification</key><string>com.brycedev.nella/prefschanged</string>
		</dict>
		<dict>
            <key>cell</key><string>PSLinkCell</string>
            <key>cellClass</key><string>PFColorCell</string>
            <key>label</key><string>Background Color</string>
            <key>color_defaults</key><string>com.brycedev.nella</string>
            <key>color_key</key><string>kBGColor</string>
            <key>title</key><string>Background Color</string>
            <key>color_fallback</key><string>#000</string>
            <key>usesRGB</key><true/>
            <key>usesAlpha</key><false/>
            <key>color_postNotification</key><string>com.brycedev.nella/prefschanged</string>
        </dict>
	</array>
	<key>title</key>
	<string>Background Options</string>
</dict>
</plist>
